---
import { infoLinks } from '../consts';

const authorName = "Brett Lindenberg";
const bio = `
  Brett Lindenberg is the co-founder of BackofNapkin.co. Brett has interviewed hundreds of entrepreneurs, gathering their stories and extracting the insights behind successful startups big and small. His passion lies in making startup calculations accessible so every dreamer has the numbers they need to take the leap. At home, Brett enjoys life’s best calculations: quality time with his wife and two daughters.
`;
const imageUrl = '/images/brett-lindenberg-author.jpg';
---

<div class="author-box">
  <div class="flex items-center space-x-6">
    <img src={imageUrl} alt={authorName} class="author-image" />
    <h2>{authorName}</h2>
  </div>
  <p class="mt-4 whitespace-pre-line">{bio}</p>
  <div class="social-links flex mt-6 space-x-4">
    {infoLinks.map((link) => (
      <a href={link.outlink} class={link.icon} target="_blank" rel="noopener noreferrer">
        <span class="sr-only">{link.name}</span>
      </a>
    ))}
  </div>
</div>
