---
import CommentAside from "./CommentAside.astro";
import {comment} from "../consts";
import {getCollectionByName} from "../utils/getCollectionByName";
import getUniqueTags from "../utils/getUniqueTags";
import getCountByCategory from "../utils/getCountByCategory";
import {sortPostsByDate} from "../utils/sortPostsByDate";
import {site} from '../consts'
import {t} from '../i18n/utils'

// Get all content (both blogs and calculators)
const allContent = await getCollectionByName('all');
let tagArr = getUniqueTags(allContent);
let categoryCount = getCountByCategory(allContent);
let sortPosts = await sortPostsByDate(allContent);
let resultPosts = sortPosts.splice(0, site.recentBlogSize);

// Helper function to get the correct URL for each content type
function getPostUrl(post: any) {
  if (post.collection === 'astro-pages') {
    // For calculator pages, strip '/src/pages' and '.astro' from the path
    return post.id.replace('/src/pages', '').replace('.astro', '');
  }
  return `/blog/${post.slug}`;
}

// Helper function to format category URLs
function formatCategoryUrl(category: string) {
  return "/category/" + category.toLowerCase().replace(/\s+/g, '-');
}
---
<div>
  {
    Object.keys(categoryCount).length > 0 && (
      <div class="aside-widget">
        <i class="ri-folder-line menu-icon"/>{t('sidebar.categories')}
      </div>
    )
  }
  {
    Object.keys(categoryCount).map((category) => (
      <a
        class="my-1 truncate block hover:text-skin-active"
        title={category + " (" + categoryCount[category] + ")"}
        href={formatCategoryUrl(category)}
      >
        {(category === 'uncategorized' ? t('sidebar.uncategorized') : category) + " (" + categoryCount[category] + ")"}
      </a>
    ))
  }
</div>
<div>
  {
    tagArr.length > 0 && (
      <div class="aside-widget">
        <i class="ri-price-tag-3-line menu-icon"/>
        {t('sidebar.tags')}
      </div>
    )
  }
  <div class="flex flex-wrap">
    {
      tagArr &&
      tagArr.map((tag) =>
        <a class="inline-block truncate m-1 border p-1 text-sm rounded hover:text-skin-active" title={tag} href={"/tags/" + tag}>{tag}</a>
      )
    }
  </div>
</div>
<div>
  <div class="aside-widget">
    <i class="ri-file-line menu-icon"></i> {t('sidebar.recentArticle')}
  </div>
  <div class="flex flex-col">
    {
      resultPosts.map((post) => (
        <a
          href={getPostUrl(post)}
          class="truncate cursor-pointr mt-1 hover:text-skin-active"
          title={post.data.title}
        >
          {post.data.title}
        </a>
      ))
    }
  </div>
</div>
{comment.enable && comment.type === "waline" && <CommentAside/>}
